#searchclick {
    margin-right: 10px;

}

#navbarimage {
    width: 50px;
    border-radius: 10px;
}

.nav-link {
    color: #FFFFFF;
}

<<<<<<< HEAD
#navbarSupportedContent {
    justify-content: space-between;
=======
/* li {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
>>>>>>> 3e1505e4eeb7a896693ace2c204f9f03b58f8ba5

} */

<<<<<<< HEAD
#searchclick {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #3F4245;

=======
/* li>a {

    font-size: 18px;
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s ease-in;
    text-decoration: none;

} */

li a:hover {
    color: grey;
}

.box{
    width: 80px;
    height: 30px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease-in;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: auto;
>>>>>>> 3e1505e4eeb7a896693ace2c204f9f03b58f8ba5
}