#searchclick {
    margin-right: 10px;

}

#navbarimage {
    width: 50px;
    border-radius: 10px;
}

.nav-link {
    color: #FFFFFF;
}

#navbarSupportedContent {
    justify-content: space-between;

}

*/ #searchclick {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #3F4245;

}