@font-face {
    font-family: mainfont;
    src: url(Lalezar-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(back.jpg);
    min-height: 109vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: mainfont;


}



nav ul {
    width: 100%;
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-start;
}

nav li {

    height: 50px;
}

nav a {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

}




nav a:hover {
    background-color: rgb(28, 28, 27);

    border-radius: 20px;
}

nav li:last-child {
    margin-right: auto;
}

nav img {
    width: 40px;
    border-radius: 20px;
    border: 2px solid white;

}

/* #menubar {
    display: none;
} */

form {

    align-content: center;
}

#searchbar {
    align-content: center;
}

#inputsearchbox {
    font-size: 15px;
    width: fit-content;

}

#searchbutton {
    align-content: center;
    margin-right: 5px;
}

button {
    align-content: center;
    padding: 2.1px;
    color: rgb(55, 54, 54);
}

.sidebar {
    position: fixed;
    background-color: rgb(23, 23, 23);
    top: 0;
    right: 0;
    height: 109vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgb(50, 50, 50);
    align-items: flex-start;
    justify-self: flex-start;
    display: none;
    flex-direction: column;
}

.sidebar a:hover {
    background-color: rgb(57, 57, 57);
    border-radius: 0px;
}

.sidebar li {
    width: 100%;
}

@media(max-width : 700px) {
    .hideOnMobile {
        display: none;
    }
}

@media(min-width : 700px) {
    .hideOnweb {
        display: none;
    }
}

#inputsearchbox{
    height: 4vh;
    border: 10px solid white;
    opacity: 10%;
    border-radius: 15%;
    padding: auto;
}

button
{
    border: 3px solid white;
    border-radius: 15%;
    background-color: gray;
}